@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<ul class="course">
    @foreach (var course in Model)
     {
        <li>
            <div class="date">
                <div class="day-month">
                    @course.DateTime.ToString("dd/MM")
                </div>
                <div class="time">
                    @course.DateTime.ToString("HH:mm")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @course.Lecturer.Name
                </span><br />
                <span class="category">
                    @course.Category.Name
                </span><br />
                <span class="place">
                    @course.Place
                </span>
            </div>
        </li>
     }
</ul>